.SearchBox{

    border-radius: 15px;
     
    height: 1000px;
    width: 1000px;
  /* transition: all 5s ease-out;  transition，在loding的情況用不了*/
      animation: 2s ease-out 0s 1 slideInFromLeft;
        
      /* keep the animination mode */
      animation-fill-mode: forwards;

}
.complaintTableBox{

    margin-left: 15px;;

}
.collectionLabel{
  display: inline-block;
  background-color: #01254c;
    color: #ffffff
}
.tableComplaint{
    font-size: 14px;
}
.filterFormFirstFlood{
    width: 1200px;
    display: flex;
        height: 75px;
}
.managementFunc{
       height: 80px;
    width: 240px;
    border: 2px solid black;
    padding: 10px;
    margin-left: 100px;
    margin-top: 20px;
}
.managementFunc span{
    margin-bottom: 5px;
}
.favTag{

    
    overflow: auto;
    
}
.containerOrderList {
    
    width:1200px;
    height: auto;
    display:flex;
}

 

.allPostPollutionType{

    width:auto;
    text-align: center;
}
.allPostArea{
font-size: 12px;
    font-weight: 700;
}

.allPostPostDetail{

   font-size:12px;
   color:#797c7e;
   font-weight: 400;
}
.allPostAuthor{
    width:20px;
    height:20px;
}
.filterForm__searchBtn{
    margin-top: 2px;
    margin-left: 205px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.postBox_contentBox_contentBox_title{
   cursor: grab;
}
.allPostFuncRow{

    margin-top:20px;
}
.allPostSpecificPost{
    display: flex;
}
.allPostTitle{
        text-align: left;
    margin: 0px 0 10px 0;
}
.tagArea{
    padding:5px;
    margin-left:5px;
       border-radius: 25px;
       color: #ffffff;
         background-color: #4a7bd2;
}

.switchBox{

  display: flex;
    margin-left: 67px;

}


@keyframes slideInFromLeft {
0%   {top:-0px;background-color:rgb(255, 255, 255);}
 
100% {top:-100px;background-color:rgb(218, 240, 247);box-shadow: 1px 4px 10px gray;}
}

 
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

        * {

            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        

.filterForm {
     
            width: 900px;
 
          


}
.inputSecFloor{
    width: 300px;
    position: absolute;
    left: 276px;
}


.hideClass{
  display: none;
}

        .filter_loc,
        .filter_date {

            width: 389px;

            display: flex;
            margin: 5px 30px 5px 30px;
        }

        .filter_date {
            width: 360px;
        }
        .allPostCmtIcon{
            width:50px;
            height:50px;
            margin:10px;            
            margin-left: 20px;
        }
        .allPostCmtBox{
            height:auto;
            width:92px;
            background-color:#f8f9fa;
            border-radius: 15px;
            /*border-right: 1px solid black;*/
        }
        .allPostPostImg{
            border-radius: 4px;
             width:100px;
              height:100px;
              margin:10px;
        }
        .filterBox {
            position: relative;
            width: 187px;
            box-sizing: border-box;
            height: 80px;

            font-family: "proxima-nova", "Open Sans", "Arial", "Helvetica", sans-serif;

            font-size: 100%;
            padding: 10px 0 10px 0;

        }



        .filterBox .filter__formInput {

    padding: 5px 5px 5px 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    font-size: 1em;
    border-radius: 5px;
        }

        .filter__formInput--date {
            width: 181px;
        }

        .filterBox .fliter_placehoder {
            position: absolute;
            left: 0px;
            padding: 10px;
            pointer-events: none;
            font-size: 1em;
            color: rgba(0, 0, 0, 0.892);
            text-transform: uppercase;
            transition: 0.5s;
           
        }
        .fliter_placehoder_secFloor{
 position: absolute;
            left: 277px !important;
        }
        .fliter_placehoderFix{
   position: absolute;
            left: 0px;
            padding: 10px;
            pointer-events: none;
            font-size: 1em;
            color: rgba(0, 0, 0, 0.892);
            
          
            
              color: #ffffff;
            /* transform: translateX(10px) translateX(-7px);*/

            transform: translate(10px, -7px);
            font-size: 0.75em;
            background-color: #01254c;

            padding: 0 2px;
          
            letter-spacing: 0.2em;
        }

        .filter__formInput:hover {
            border: 0.8px solid #2411f2;

        }

        .filterBox input:valid~.fliter_placehoder,
        .filterBox input:focus~.fliter_placehoder {

            color: #ffffff;
            /* transform: translateX(10px) translateX(-7px);*/

            transform: translate(10px, -7px);
            font-size: 0.75em;
            background-color: #01254c;

            padding: 0 2px;
         
            letter-spacing: 0.2em;


        }



        .filterBox__airlineIcon {


            background-image: url("../images/airplaneIcon.png");

            width: 30px;
            height: 20px;
            background-size: 30px 20px;

            position: absolute;
            left: -15px;
            top: 22px;
            display: none;

        }
        .fliter_placehoder{
            top:7px;
        }
/*.filterForm__searchBtn {
            width: 200px;
            height: 54px;
            background-color: #0a0057;
            color: white;
            margin: 15px 30px 10px 30px;
            font-size: 30px;
            cursor: pointer;

        }*/
        
        .shouldBeHide{
background-color: transparent;
border:none;
width: 0px;
height: 0px;
           
        }
        .filterForm__searchBtn:hover {
           
            width: 90px;
            height: 90px;
            
        }
       .tableDIv{

     
              position: absolute;
    left: 12%;
       
        }
        .allPostFavIcon{

            margin-top:10px;
            margin-left:47px;
            width:30px;
            cursor: pointer;
        }
        .urgentBox{
           background-color: rgb(40, 4, 4);
    color: white;
    width: fit-content;
    float: left;
    height: 40px;
    font-size: 12px;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
   
    margin:5px 5px 0px 5px;
     
}
       
             
        

        .urgentListBox li{
            margin-left:20px;     
            float: left;
            
        }
.postContentBox{
    width: auto;
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translate(-50%,-5%);
}

.NonLogin{
    display: flex;
    width: auto;
}

 













element.style {
}
 


* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
* {
    font-family: Aharoni;
}
*, *::after, *::before {
    box-sizing: border-box;
}
 
details[open] > summary:first-of-type {
    list-style-type: disclosure-open !important;
}
 
details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed !important;
}
        .Insert_UnGroup{

            display: flex !important;
            flex-direction:column;
            gap: 10px;
         
        }
        .postMngtStatus{
          
            display: flex;
            flex-direction: column;
             justify-content: space-between;
            font-family: "Lucida Console";           
         
            text-align: center;          
            
            height:auto;
            
            padding:10px;
 
            border-radius: 15px;
            color:rgb(255, 252, 252);
            background-color:rgb(118, 53, 53) ;
        }
        .allPostStatusDptTitle{
            font-weight: 500;
              font-size: 15px;
            padding:10px;
        }
        .allPostStatusDpt{
            font-size: 12px;

        }
        .BookingTabel_bookingBox {

            width: 600px;
            height: auto;
           
            padding: 10px 0 10px 0;
            background-color: #ffffff;

            display: block;
            border-radius: 15px;
            box-shadow: 1px 4px 10px gray;

        }
        .complaintNature_edit{

            background-color:grey;
        
            
        }
.bookingBox_FLightNO,.bookingBox_timeCon,.pagination-container{
    margin-left: 13px;
}
        .bookingTable__mid {

            display: flex;
            align-content: space-between
        }

        .bookingTable__mid div {


            width: 200px;
            height: 100px;
            margin: 20px 40px 20px 20px;
        }

        .bookingTable_airlineMid {
            background-image: url("../images/middleIcon.png");

            background-size: 642px 80px;
        }

        .bookingTable_airlineFrm_region,
        .bookingTable_airlineFrm_time {
            font-size: 30px;
            color: rgb(0, 0, 90);

        }

        .bookingTable_airlineFrm_city {
            font-weight: bold;
        }

        .bookingTable_airlineFrm_city,
        .bookingTable_airlineFrm_city {
            display: block;

        }

        .bookingTable_priceSpan {

            font-size: 40px;
        }

        .bookingTable__detailBtn {
            width: 920px;
            border: transparent;
            background-color: #003494;
            color: antiquewhite;
        }

        .bookingTable__qtyPicker input {
            font-size: 1em;
            background-color: #fff;
            border: 1px solid black;
            width: 40px;

        }

        .bookingTable__qtyPicker,
        .bookingTable__qty {

            width: 60px;
        }

        .bookingTable__detailBox {
            display: none;


        }

        .bookingTable__detailBox th {

            width: 20%;
        }
.postBox_contentBox_contentBox_author{
    width: 400px;
}    
.pagination{
    background-color:  rgb(255 255 255);;
}
.pagination li{
      list-style-type: none;
  display: inline-block;
}

.pagination  li {
  color: black;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination  li.active {
  background-color: #261bf4;
  color: white;
  border: 1px solid #000000;
}

.pagination  li:hover:not(.active) {background-color: #ddd;}


*[tooltip] {
    position: relative;
}

*[tooltip]::before {
    content: attr(tooltip);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 10px);
    padding: 8px 14px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.6;
    white-space: nowrap;
    background-color: rgb(47, 10, 10);
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    transition: all .3s ease-in-out;
    cursor: text;
    z-index: 1;
}
*[tooltip]::after {
    content: "";
    opacity: 0;
    visibility: hidden;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(57, 14, 14) transparent transparent transparent;
    position: absolute;
      transform: translateX(-50%);
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    transition: all .3s ease-in-out;
    z-index: 2;
}

 
 .tooltipDetail[tooltip]::before,.tooltipDetail[tooltip]::after {
     transform: translateX(50%);
}
.tooltipDetail[tooltip]::after {
     transform: translateX(2500%);
}
 
 .tooltipOption[tooltip]::before,.tooltipOption[tooltip]::after {
     transform: translateX(30%);
}
.tooltipOption[tooltip]::after {
     transform: translateX(2500%);
}
*[tooltip]::before,*[tooltip]::after {
    opacity: 1;
    visibility: visible;
 
}
.cmtInforIndex{
    
width:auto;
padding-bottom: 20px;
display:flex;
}
.allPostPicBox{
    width:125px;
    height:100px;
}
 /*
.tooltipRev[tooltip]::before,.tooltipRev[tooltip]::after {
    opacity: 0;
    visibility: hidden;;
 
}
 


 
.tooltipRev.active[tooltip]::before,.tooltipRev.active[tooltip]::after {
   
  visibility:visible;
  opacity: 1;
}
*/